@page "/MIBFAForm"

<div class="row p-5" style="margin-right:25%">
    <div class="col-md-12">
        <h3>Withdrawel claim-member</h3>
    </div>
    <hr />
    <div class="col-md-6">
        <label class="form-label">Name of employer</label>
        <input type="text" class="form-control" value="Metal industry" disabled />
    </div>
    <div class="col-md-6">
        <label class="form-label">Employer reference number</label>
        <input type="text" class="form-control" value="5BA698" disabled />
    </div>
    <div class="col-md-12">
        <label class="form-label">Name of Employer</label>
        <input type="text" class="form-control" />
    </div>
    <hr class="mt-3" />
    <div class="col-md-12 mt-3">
        <h3>About you (the member)</h3>
        <div>
            <h6>
                Please fill in all the information in this section. If there are any changes to your personal particulars, please write to
                let us know.
            </h6>
        </div>
    </div>
    <br />
    <div class="col-md-12">
        <h4>Personal and contact details</h4>
    </div>
    <div class="col-md-6">
        <label class="form-label">Surname</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">First names</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Maiden names</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Title</label>
        <select class="form-select">
            <option selected>Dr</option>
        </select>
    </div>
    <div class="col-md-6">
        <label class="form-label">ID</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Passport</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Country of issue</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Date of birth</label>
        <input type="date" class="form-control" />
    </div>

    <br />
    <div class="col-md-12 mt-5">
        <h4>Residential address (this is the address where you live most of the time)</h4>
    </div>

    <div class="col-md-6">
        <label class="form-label">Unit number</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Complex</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Street number</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Street or farm name</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Suburb</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">City or town</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Country</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Code</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-12">
        <label class="form-label">Postal address</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Code</label>
        <input type="text" class="form-control" />
    </div>

    <br />
    <div class="col-md-12 mt-5">
        <h4>Contact details</h4>
    </div>
    <div class="col-md-6">
        <label class="form-label">Cell</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Home</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Work</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" />
    </div>

    <br />
    <div class="col-md-12 mt-5">
        <h4>Employment, financial and tax details</h4>
    </div>
    <div class="col-md-6">
        <label class="form-label">Employee number</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Date of employment</label>
        <input type="date" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Date of withdrawel</label>
        <input type="date" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Annual taxable salary at date of withdrawal</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Income tax number</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Revenue office</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Country of residence for tax purpose</label>
        <select class="form-select">
            <option selected>South-Africa</option>
        </select>
    </div>
    <div class="col-md-12">
        <label>Clear, legible copy of your identity document/s and/or both sides of your identity card</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <div class="col-md-12">
        <label>Current bank statement where payment will be made into your personal bank account only.</label>
        <input class="form-control" type="file" id="formFile">
    </div>

    <br />
    <div class="col-md-12 mt-3">
        <div class="alert alert-secondary">
            You must fill in the form completely and correctly, and give us any other information we need. If you do not, there might
            be delays in settling your claim.
        </div>
    </div>

    <br />
    <div class="col-md-12 mt-3">
        <h4>Savings pot withdrawal claim details</h4>
        <p>The withdrawel from your savings pot is subject to the following.</p>
        <p>• The withdrawel amount requested may not be less than R2000.00 in terms of the Revenue Laws Amendment Bill of 2023.</p>
        <p>• The amount requested may not be more than your current value accured in your savings pot check with BA if member will be able to extract their own value via internet linked to savings.</p>
        <p>• You may only claim one withdrawel from your savings pot per tax year.</p>
        <label>Complete the amount to be paid as a cash withdrawal from your savings pot into your bank account below.</label>
        <input type="text" class="form-control" />
        <p>This amount will be subject of tax, admin fees and will not be the net amount paid to you.</p>
    </div>

    <br />
    <div class="col-md-12 mt-3">
        <h4>Divorce or maintenance court orders</h4>
        <label>Is there a divorce or maintenance court order issued that could affect the payment of fund benefits?</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
                No
            </label>
        </div>
        <div class="col-md-12">
            <label>If yes, please provide a certified copy of the court order.</label>
            <input class="form-control" type="file" id="formFile">
        </div>
    </div>

    <br />
    <div class="col-md-12 mt-5">
        <h4>Payment instructions</h4>
        <p>Benefit to member</p>
        <p>Please make sure that the bank account details are for your own account (if you choose for any portion to be paid in cash to your bank account) and matches the details exactly as per your bank statement.</p>
    </div>
    <div class="col-md-6">
        <label class="form-label">Account holder's name</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Name of bank</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Account number</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Branch code</label>
        <input type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Type of account</label>
        <select class="form-select">
            <option selected>Current</option>
        </select>
    </div>
    <div class="col-md-12 mt-3">
        <div class="alert alert-secondary">
            If you do not give complete and correct information about banking details, there might be a delay in making this payment.
        </div>
    </div>

    <div class="col-md-12 mt-3">
        <h4>Employer's declaration</h4>
        <p>This section needs to be completed by the employer. In this declaration, ‘you’ refers to the employer.</p>
        <p>By signing this section of the form, you confirm that:</p>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item  border-0">The member has left or is leaving your employment.</li>
            <li class="list-group-item  border-0">
                You have deducted the contribution that was required until the date that the member left your employment, and you have paid the contribution
                to the fund.
            </li>
            <li class="list-group-item border-0">The member’s details given to Alexander Forbes on this form are the same as the details that the member gave to you.</li>
            <li class="list-group-item border-0">
                Alexander Forbes will accept the claim form as accurate unless you tell us about any changes within one business day of submitting the form.
                (Note that business days are Mondays to Fridays, excluding Saturdays, Sundays and official South African public holidays.)
            </li>
            <li class="list-group-item border-0">
                All information on this form is correct and complete. You agree that if anyone suffers any loss because you have given incorrect or incomplete
                information in this form, neither Alexander Forbes nor the fund is responsible for the loss.
            </li>
            <li class="list-group-item border-0">
                All information on this form is correct and complete. You agree that if anyone suffers any loss because you have given incorrect or incomplete
                information in this form, neither Alexander Forbes nor the fund is responsible for the loss.
            </li>
            <li class="list-group-item border-0">You have given the member a copy of the ‘Options available to members on leaving’ document.</li>
            <li class="list-group-item border-0">You have signed the form using a manual stamp and your signature.</li>
        </ol>
        <br />
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                I agree that the provided information is correct and accurate.
            </label>
        </div>
    </div>

    <hr class="mt-2" />
    <div class="col-md-5 card ">
        <div class="card-body">
            <label class="form-label">Captured by</label>
            <input type="text" class="form-control" value="John Doe" />

            <label class="form-label">Designation</label>
            <input type="text" class="form-control" />

            <label class="form-label">Date</label>
            <input type="date" class="form-control" value="@DateTime.Now" />
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 card">
        <div class="card-body">
            <label class="form-label">Approved by</label>
            <input type="text" class="form-control" value="John Doe" />

            <label class="form-label">Designation</label>
            <input type="text" class="form-control" />

            <label class="form-label">Date</label>
            <input type="date" class="form-control" value="@DateTime.Now" />
        </div>
    </div>
</div>

@code {

}
