@page "/websitebanners"
@* <script src="https://kit.fontawesome.com/17680ec8e2.js" crossorigin="anonymous"></script> *@

<ul>
    <li>
        <a class="IconCards" href="https://facbook.com" target="blank">
            <i class="fa-brands fa-facebook" ></i>
            <span>- Facbook</span>
        </a>
    </li>
    <li>
        <a class="IconCards" href="https://instagram.com" target="blank">
            <i class="fa-brands fa-instagram"></i>
            <span>- Instagram</span>
        </a>
    </li>
    <li>
        <a class="IconCards" href="https://twitter.com" target="blank">
            <i class="fa-brands fa-x-twitter"></i>
            <span>- Twitter</span>
        </a>
    </li>
    <li>
        <a class="IconCards" href="https://tiktok.com" target="blank">
            <i class="fa-brands fa-tiktok"></i>
            <span>- TikTok</span>
        </a>
    </li>
</ul>
<div id="container">
</div>

@code {

}
